<#include "header.html">

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Welcome</span>
        </a>

    </header>
</div>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://avatars.githubusercontent.com/u/43031573?v=4" alt="" width="460" height="460">
    <h1 class="display-5 fw-bold">Hi, There</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            I'm Voragun Supawong from Thailand. <br>
            My major is Information Technology 🎓. <br>
            Graduate from King Mongkut's University of Technology Thonburi, Thailand 🏛.<br>
            I'm a passionate learner who's always willing to learn and work across technologies and domains 💡. <br>
            I'm currently into Java Spring boot Application and Web Service development. 🕸️
        </p>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://seniorproject.sit.kmutt.ac.th/projectPoster/posterIT61-BU19.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Hi-Sensei</h1>
            <p class="lead">
                Hi-sensei is a game application on PC platform (Windows, MacOS, Linux). <br>
                Target group of user is people who are 
                learning Japanese language and interested in Japanese. 
                We bring Gamification principles to enhance learning through playing games on the computer. 
                There are total 5 vocabulary lessons: 
                counting numbers, days and months, colors, fruits and vegetables, places, 
                which are words found in daily life.
            </p> 
            <a class="btn btn-primary btn-lg px-4 me-md-2" href="https://seniorproject.sit.kmutt.ac.th/showproject/IT61-BU19" role="button">Link</a>
        </div>
    </div>
</div>

<#include "footer.html">