<#include "header.html">

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Welcome</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="login" class="nav-link active" aria-current="page">Login</a></li>
            <li class="nav-item"><a href="register" class="nav-link">Register</a></li>
        </ul>
    </header>
</div>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://avatars.githubusercontent.com/u/43031573?v=4" alt="" width="460" height="460">
    <h1 class="display-5 fw-bold">Hi, There</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            I'm Voragun Supawong from Thailand. <br>
            My major is Information Technology 🎓. <br>
            Graduate from King Mongkut's University of Technology Thonburi, Thailand 🏛.<br>
            I'm a passionate learner who's always willing to learn and work across technologies and domains 💡. <br>
            I'm currently into Java Spring boot Application and Web Service development. 🕸️
        </p>
    </div>
</div>


<#include "footer.html">