<#include "header.html">

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://avatars.githubusercontent.com/u/43031573?v=4" alt="" width="460" height="460">
    <h1 class="display-5 fw-bold">Hi, There</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            I'm Voragun Supawong from Thailand. <br>
            My major is Information Technology 🎓. <br>
            Graduate from King Mongkut's University of Technology Thonburi, Thailand 🏛.<br>
            I'm a passionate learner who's always willing to learn and work across technologies and domains 💡. <br>
            I'm currently into Java Springboot Apllication and Web Service devlopment. 🕸️
        </p>
    </div>
</div>


<#include "footer.html">